*{
    margin: 0 auto;
    padding: 0 auto;
}
.contener{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* top-header*/
.top-header{
    grid-column: 1 / -1;
    background-color: #9e5bba;
    width: 100%;
}

.header{
    grid-column: 1 / -1;
    background-color: #ffffff;
    display: flex;
    width: 100%;
}

.menu{
    grid-column: 1 / -1;
    background-color: #3d3de2;
    width: 100%;
}
.conten{
    grid-column: 1 / 9;
    background-color: #00bfff;
    width: 100%;
}
.sitebar{
    grid-column: 9 / -1;
    width: 99%;
}
.footer{
    grid-column: 1 / -1;
    background-color: #ebebeb;
    width: 100%;
}
.footer-bttom{
    grid-column: 1 / -1;
    background-color: #ebebeb;
    width: 100%;
}

	/*header css*/
.top-header{
	display: flex;
	align-items: center;
	color: white;
}
.top-header-left{
	margin-left: 10px;
}
.top-header-right{
	display: flex;
	align-items: center;
	margin: 0;
	padding: 5px;
}
.eng-butn{
	background: transparent;
	border: none;
	border-left:1px solid white;
	color: white;
}
.header-menu ul {
    list-style: none;
    background-color: #6bfb4d;
    border-radius: 0px 0px 0px 50px;
}


.header-menu ul li{
   display: inline-block;

}
.header-menu ul li a {
    text-decoration: none;
    border-right: 1px solid white;
    padding-right: 16px;
    font-size: 18px;
}
.header-menu-bttom {
    margin-left: 140px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.search{

}
.header-content {
    margin-right: 0px;
}
.logo {
    padding: 14px;
}
.icon img {
    width: 21%;
}
#search{
    padding: 3px 62px;

}
.submit{
    padding: 5px 31px;

}

.menu ul{
    list-style: none;
    background-color: #eeeeee;
}
.menu ul li{
    display: inline-block;
    padding: 4px 0px;


}
.menu ul li a{
    text-decoration: none;
       padding: 0px 16px;
      border-right: 1px solid black;
}
.conten{
   background-color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.sitebar{
       background-color: white;
}
.icon2 {
    display: flex;
    flex-wrap: wrap;
    
}
.icon2 a {
    padding: 22px;
    text-decoration: none;
}
.top-buttn button{
    background-color: #e8e8e8;
    color: #9e5bba;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.top-buttn button:hover{
    background-color:#9e5bba ;
    color: white;
    transition: 0.5s;
}
.main-news{
    width: 100%;
    display: flex;
    padding: 25px 0px;
    
}
.initiatives{
    width: 50%;
}
.news{
    width: 50%;
}
.initiatives a{
    padding: 5px;
}
.main-logo img{
    width: 222px;
    height: 65px;
    padding: 5px;
}
.title-all h5{
    background-color: #609513;
    color: white;
    padding: 10px;
}
.sitebar-img img{
    width: 100%;
}
.hudai-img img{
    width: 100%;
}
/* সকল বাতায়ন */
#np-div-list{
    width: 60%;
    padding: 5px;
}
#go-np-div-list{
    width: 15%;
    padding: 5px;
}
/* footer-bttom */
.footer-bttom{
    display: flex;
    align-items: center;
    
}

.footer-bottom-right{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.footer-bottom-left{
    margin-left: 20px;
}